@model Vidly.Models.Customer
@{
    ViewBag.Title = @Model.Name + " | Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<hr />
<br />
<ul>
    <li><strong>Membership Type:</strong> @Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li><strong>Birthday:</strong> @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>


