<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="FacebookId" value="1876853579053570"/>
  <add key="FacebookSecret" value="67d6e604f33ae4a73c4caecf77e6f681"/>
</appSettings>